@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700);

@font-face {
  font-family: "droid";
  font-display: swap;
  src: url("../fonts/droid.woff") format("woff"), url("../fonts/droid.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._no-webp body{
  background: url(../img/background.png) no-repeat; }

body {
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  color: #ffffff;
}

.header {
  padding-top: 260px;
  margin-bottom: 357px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

._no-webp .header__inner{
  background: url(../img/border.png) 0 100%/contain no-repeat; }

.header__inner {
  padding: 107px 116px 110px 116px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 964px;
          flex: 0 0 964px;
}

.header__description {
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.header__description::after {
  content: "";
  width: 91px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin: 0px auto;
}

.header__title {
  font-family: "droid";
  font-size: 185px;
  font-weight: 400;
  margin-bottom: 28px;
}

.header__sibtitle {
  color: #ac752f;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 50px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  margin-right: 30px;
  border: 1px solid #6b4922;
}

.footer__icon:hover {
  background-color: rgba(255, 255, 255, 0.747);
}

.footer__icon_fb {
  padding: 20px 29px;
}

.footer__icon_inst {
  padding: 24px 23px 23px 24px;
}

.footer__icon_pint {
  padding: 22px 26px 21px 27px;
}

.footer__icon_twit {
  padding: 26px 23px 26px 24px;
}

.title {
  font-family: droid;
  font-size: 60px;
  color: #ad7835;
  font-weight: 400;
  line-height: 74.07407%;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.btn {
  color: #ad7835;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding: 18px 40px;
  border: 1px solid #6b4922;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.747);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1302px;
  padding: 0px 15px;
  margin: 0px auto;
}

.about {
  margin-bottom: 250px;
}

.about__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1302px;
          flex: 0 0 1302px;
  max-height: 558px;
  -webkit-box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
          box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content {
  padding: 60px 109px 60px 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 630px;
          flex: 1 0 630px;
}

.about__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 66px;
}

.content-about__title {
  margin-bottom: 55px;
}

.content-about__title::after {
  content: "";
  width: 91px;
  height: 3px;
  background-color: #ad7835;
  display: block;
  margin-top: 15px;
}

.content-about__button {
  padding: 10px 35px;
  border: 1px solid #6b4922;
}

.content-about__text {
  margin-bottom: 55px;
}

.content-about__text p {
  margin-bottom: 30px;
}

.article {
  margin-bottom: 240px;
}

.article__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__title {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.article__title::before {
  content: "";
  width: 91px;
  height: 3px;
  background-color: #ad7835;
  position: absolute;
  bottom: -19px;
}

.article__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 70px;
}

.article__column:last-child {
  margin-right: 0;
}

.article__column:nth-child(2) {
  padding-top: 95px;
}

.column-article__image {
  width: 338px;
  height: 236px;
  -webkit-box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
          box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
  background-color: #373737;
  margin-bottom: 71px;
}

.column-article__image img {
  padding: 30px 0px 0px 30px;
}

.column-article__name {
  color: #ad7835;
  font-family: "Droid";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
}

.column-article__name::after {
  content: "";
  width: 369px;
  height: 1px;
  background-color: #ad7835;
  display: block;
  margin-top: 15px;
}

.column-article__text {
  margin-bottom: 35px;
}

._no-webp .column-article__button{
  background: url(../img/articles/arrow.png) 100% 50% no-repeat; }

.column-article__button {
  padding-right: 16px;
  color: #ad7835;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.column-article__button:hover {
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.747);
}

.gallery {
  margin-bottom: 200px;
}

.gallery img:hover {
  outline: 2px solid rgba(255, 255, 255, 0.747);
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.gallery__title {
  margin-bottom: 60px;
  position: relative;
}

.gallery__title::before {
  content: "";
  width: 91px;
  height: 3px;
  background-color: #ad7835;
  position: absolute;
  bottom: -19px;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.gallery__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
  padding-top: 70px;
}

.gallery__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.gallery .left-gallery :first-child {
  margin-bottom: 30px;
}

.gallery .right-gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .right-gallery__image_mr {
  margin-right: 30px;
}

.gallery .right-gallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  max-height: 350px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.gallery .right-gallery__center {
  margin-bottom: 30px;
}

.gallery__button {
  text-align: center;
}

.contact {
  margin-bottom: 210px;
}

.contact__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1302px;
          flex: 0 0 1302px;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  max-height: 558px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
          box-shadow: 0 0 80px rgba(43, 43, 43, 0.3);
  background-color: #373737;
}

.contact__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 68px;
  margin-right: 100px;
}

.contact__content {
  padding: 69px 0px 0px 0px;
}

.contact__title {
  margin-bottom: 60px;
}

.contact__title::after {
  content: "";
  width: 91px;
  height: 3px;
  background-color: #ad7835;
  display: block;
  margin-top: 15px;
}

.contact__form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  resize: none;
  margin-top: 20px;
  color: #ad7835;
  font-weight: 500;
}

.contact__form label {
  opacity: 0.6;
}

.contact__form button {
  margin-top: 50px;
  background-color: transparent;
}

.contact .form-contact__line::after {
  content: "";
  width: 190px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  opacity: 0.3;
}

.contact .form-contact__line_bwid::after {
  content: "";
  width: 450px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  opacity: 0.3;
}

.contact .form-contact__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.contact .form-contact__input {
  width: 100%;
  font-weight: 400;
  line-height: 28px;
  height: 42px;
  width: 210px;
  background-color: transparent;
  color: #ad7835;
  font-weight: 500;
}

._webp body{ background: url(../img/background.webp) no-repeat; }

._webp .header__inner{ background: url(../img/border.webp) 0 100%/contain no-repeat; }

._webp .column-article__button{ background: url(../img/articles/arrow.webp) 100% 50% no-repeat; }